<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @magazine.name %>
</p>


<%= link_to 'Edit', edit_publisher_magazine_path(@publisher, @magazine) %> |
<%= link_to 'Back', publisher_magazines_path(@publisher) %>
