<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>


<%= link_to 'Edit', edit_publisher_magazine_photo_path(@publisher, @magazine, @photo) %> |
<%= link_to 'Back', publisher_magazine_photos_path(@publisher, @magazine) %>
